@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,700);

.bar {
    background-color: #1ED760;
}

/* TOP TRACKS */

.tooltip-1 {
    display: none;
    background: rgba(0,0,0, 0.5);
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
}

.tooltip-1 p {
    display: block;
    margin: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}

.tooltip-1 p span {
    font-weight: 400;
    margin-right: 5px;
    color: #FFF;
    font-size: 14px;
}